# This files represents a template for the .env file you can create
# if you'd like to run the notebook locally.
# In this learning environment, these variables are already defined.

# you can create and openAI key by visiting this site: 
# https://platform.openai.com/ 
# and creating an account
OPENAI_API_KEY=
# you can get an API key by visiting this site 
# https://www.tavily.com/
# and creating an account.
TAVILY_API_KEY= 